.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}


.navcolor {
  color: blueviolet;
  font-weight: bolder;

}


.mainnav {
  list-style: none;
  margin: 2rem 20vw;

}


.mainnav Link li:hover {
  color: rgb(239, 188, 35);
  font-weight: 800;
}

@media screen and (min-width:750px) {
  .menubtn {
    display: none;
  }

}

@media screen and (max-width:550px) {
  .navcanvas {
    opacity: 0.8;
    padding: 30px;
    font-size: 2rem;
  }

  .navcanvas ul li {
    font-size: 2rem;
  }
}